/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media all and (max-width: 1530px){
.left_site_menu ul li a {
	font-size: 23px;
	margin-bottom: 25px;
}
.left_site_social ul li a img {
	width: 30px;
}









}

@media all and (min-width: 1200px){
.left_site_main {
	display: block !important;
}

}

@media all and (max-width: 1199px){
.left_site_main {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	/* height: 100%; */
	z-index: 999;
	background: #414642;
	display: none;
}
.right_site_main {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
	padding: 20px 10px 80px 10px;
}
.frontpage_main {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.right_site_exchange_single {
	width: 235px;
}
.right_site_tokenbridge_left {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 49.5%;
	        flex: 0 0 49.5%;
}
.right_site_tokenbridge_right {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 49.5%;
	        flex: 0 0 49.5%;
}
.rslockboxs {
	width: 235px;
}
.mobile_menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-bottom: 40px;
	padding-right: 50px;
}

}

@media all and (max-width: 991px){
.right_site_lock {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.rslockboxs {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 49%;
	        flex: 0 0 49%;
}
.right_site_exchange_single {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 49%;
	        flex: 0 0 49%;
}
.right_site_metaverse {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
h2 {
	font-size: 48px;
}
.right_site_title_text p {
	color: #FFF;
	font-size: 14px;
}
.right_site_title_contents_boxs_all ul li {
	font-size: 16px;
	margin-bottom: 6px;
}
.right_site_title_contents_single p {
	font-size: 16px;
}
h3 {
	font-size: 26px;
}
.right_site_self_maining_middle ul li {
	font-size: 14px;
}
.border_style {
	border: 3px solid #F2994A;
}
.right_site_self_maining_btns a {
	padding: 4px 0px;
	font-size: 12px;
}
.right_site_self_maining_btns a:first-child {
	font-size: 20px;
}
.rscslbtn a {
	border: 3px solid #F2994A;
	font-size: 17px;
}
.rstrc_title2 h5 {
	margin-top: 10px;
}
.rsmet_bs a {
	border: 3px solid #F2994A;
}
.right_site_metaverse_right a {
	border: 3px solid #F2994A;
}
.right_site_download_app p {
	margin-top: 40px;
	font-size: 25px;
	line-height: 35px;
}
.right_site_main {
	padding: 20px 10px 60px 10px;
}
.rsmr_left p {
	font-size: 19px;
}
.rssmm_f ul {
	padding-right: 10px;
}
.mobile_menu {
	margin-bottom: 35px;
	padding-right: 30px;
}

}

@media all and (max-width: 767px){
h2 {
	font-size: 35px;
}
.right_site_title_text p {
	color: #FFF;
	font-size: 11px;
}
.right_site_title_contents_boxs_all ul li {
	font-size: 12px;
	margin-bottom: 6px;
}
.right_site_title_contents_single p {
	font-size: 12px;
}
h3 {
	font-size: 18px;
}
.right_site_self_maining_middle ul li {
	font-size: 12px;
}
.right_site_self_maining_middle img {
	width: 180px;
}
.right_site_self_maining_btns a:first-child {
	font-size: 15px;
}
.right_site_self_maining_btns a {
	font-size: 9px;
}
.right_site_exchange_single p {
	font-size: 11px;
}
.right_site_exchange_single h5 {
	font-size: 16px;
}
.right_site_exchange_single h4 {
	font-size: 23px;
}
.right_site_tokenbridge {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.rsmr_left p {
	font-size: 15px;
}
.right_site_metaverse_right a {
	width: 160px;
	padding: 7px;
	font-size: 17px;
}
.rsmet_bs a {
	font-size: 18px;
	width: 160px;
	padding: 7px;
}
.rslobox {
	height: 300px;
}
.right_site_download_app p {
	margin-top: 35px;
	font-size: 20px;
	line-height: 30px;
}
.right_site_main {
	padding: 20px 10px 45px 10px;
}
.left_site_menu ul li a {
	font-size: 18px;
	margin-bottom: 20px;
}
.left_site_main {
	width: 220px;
}
.right_site_self_maining {
	margin-top: 45px;
}


}

@media all and (max-width: 575px){
	
}

@media all and (max-width: 450px){
h2 {
	font-size: 26px;
}
.right_site_title_text p {
	color: #FFF;
	font-size: 10px;
}
.right_site_title_contents_boxs_all {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.right_site_title_contents_boxs_all ul {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	text-align: center;
	margin-bottom: 15px;
}
.right_site_title_contents_boxs_all ul li {
	font-size: 11px;
	margin-bottom: 3px;
}
.right_site_title_contents_single p {
	font-size: 11px;
}
.right_site_title_contents {
	margin-top: 10px;
}
.mobile_menu {
	margin-bottom: 30px;
	padding-right: 10px;
}
.left_site_menu ul li:first-child a {
	margin-bottom: 45px;
}
.left_site_menu ul li a {
	font-size: 14px;
	margin-bottom: 15px;
}
.left_site_main {
	width: 185px;
}
h3 {
	font-size: 13px;
}
.rssmm_f {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.right_site_self_maining_middle img {
	width: 200px;
	margin-top: 15px;
}
.right_site_self_maining_btns a:first-child {
	font-size: 12px;
}
.right_site_self_maining_btns a {
	font-size: 7px;
}
.right_site_exchange_single {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
}
.right_site_exchange_single p {
	font-size: 11px;
	margin: 10px 0px;
}
.right_site_exchange_single1st p:last-child {
	margin-top: 5px;
}
.right_site_exchange_single h4 {
	font-size: 23px;
	margin-bottom: 15px;
}
.right_site_exchange_single.rscslbtn.rscslbtn2.border_style {
	height: 140px;
}
.rscslbtn a {
	border: 3px solid #F2994A;
	font-size: 19px;
}
.right_site_exchange_single {
	width: 100%;
}
.right_site_metaverse_right {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 74.5%;
	        flex: 0 0 74.5%;
	margin-top: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.fsmr_right img {
	margin-top: 15px;
}
.rslockboxs {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
}
.right_site_self_maining {
	margin-top: 35px;
}
.left_site_social ul li a img {
	width: 21px;
}


}